# 1. Introducción a Python: conceptos básicos.

Aspectos básicos de la sintaxis de Python.

¿Qué imprimirá el siguiente programa al ejecutarlo?

In [3]:
entero = 450 - 39
cadena = "Hola, mundo"
flotante = 45.32
if flotante == 45.32 or cadena == "Hola, mundo":
    entero = entero + 21
    cadena = cadena + ". Hola otra vez" #concatenación de cadenas de caracteres
print(entero)
print(cadena)

432
Hola, mundo. Hola otra vez

Para compreder el código anterior, comencemos a analizar las líneas:

Al objeto entero, le asignamos el resultado de la operación 450 - 39, que es 411:

In [10]:
entero= 450 - 39

Al objeto cadena, le asignamos la cadena de caracteres "Hola, mundo". Cabe aclarar que para escribir una cadena de caracteres 
o string, se tiene que poner dentro de las comillas; "cadena de caracteres":

In [11]:
cadena = "Hola, mundo"

Al objeto flotante, se le asigna el valor flotante (a grandes rasgos, es un valor numérico positivo o negativo con decimales) 45.32:

In [38]:
flotante = 45.32
type(flotante) # la función type nos arroja como resultado el tipo de dato

float

En la siguiente línea abrimos un ciclo. Dicho ciclo se llama if y verifica que si se cumple que el objeto flotante es igual (==) a 45.32 o si cadena es igual (==) a "Hola, mundo", entonces el objeto entero, ahora tomará su valor anterior (411) y a éste se le sumará 21 y al objeto cadena se le agregará el texto ". Hola otra vez". Es decir, si se cumple alguna de estas dos condiciones: flotante == 45.32 o cadena == "Hola, mundo", los objetos entero y cadena se actualizaran de acuerdo a la instrucción que le dimos:

In [13]:
if flotante == 45.32 or cadena == "Hola, mundo":
    entero = entero + 21
    cadena = cadena + ". Hola otra vez" #concatenación de cadenas de caracteres

Nota: = no es lo mismo que ==, ya que el primero es un símbolo de asignación y el segundo es un signo de comparación lógica.

También se puede notar que en la parte final de la última línea hay un comentario: #concatenación de cadenas de caracteres.
    Los comentarios son código que la computadora ignora. Son importantes, ya que pueden ayudar a otros usuarios a entender nuestro código.
    Si se quiere escribir un comentario, se debe poner el símbolo # antes de escribir el comentario. Para hacer comentarios de varias líneas, se utilizan tres símbolos """ al principio y al final del comentario.

Por último, después de verificar si se cumple o no el ciclo if (en este caso sí), se imprimen los objetos entero y cadena actualizados:

In [14]:
print(entero)
print(cadena)

432
Hola, mundo. Hola otra vez

## Variables

Veamos el siguiente código.

In [27]:
x1 = 45 #el salto de línea nos dice quue es el final de la setencia 
x2 = "Este texto" + \
"es muy extenso"    #El símbolo \ indica que la sentencia continúa en la siguiente línea (mala práctica)
if x1 == 45:
    x1=35
    x2="Ahora ya no"
print(x2)

Ahora ya no

Después de ver este ejemplo, es claro que los espacios en blanco y los saltos de línea pueden ser distinguidos y tener significado para Python.
Los bloques no se delimitan por marcas como { como en el lenguaje R, sino mediante la identación.

x1 y x2 son objetos llamados variables (al igual que entero, cadena y flotante del primer ejemplo). Las variables son, espacios de memoria en la computadora que son asignados mediante un nombre (como x1 y x2) y un valor (45 y "Este texto")

Para nombrar a la variables pueden utilizarse cualquier palabra que contenga caracteres alfanuméricos y guiones bajos. Las únicas excepciones son las palabras reservadas, las cuales no pueden ser utilizadas para nombrar variables ni funciones, ya que sirven para el funcionamiento del lenguaje.

Podemos visualizar las palabras reservadas en Python con el siguiente código:

In [28]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Si bien se ha dicho que a las variables y a las funciones pueden nombrarséles de cualquier manera, excepto por las palabras reservadas, hay que considerar las buenas prácticas de programación para este tópico.
Algunas de estas buenas prácticas nos recomiendan que los nombres de las variables sean autoexplicativos y que estén en minúsculas.

En nuestro ejemplo anterior, le hemos dado los nombres x1 y x2 a nuestras variables. El lector está en lo correcto si piensa que esto incurre en malas prácticas de programación, ya que los nombres no son autoexplicativos, pero hay que notar que este es un ejemplo didáctico y es un código pequeño. Cuando el lectro esté trabajando en un proyecto grande con mucha gente trabajando en él al mismo tiempo, será entonces cuando se note la importancia de saber qué variables se están manipulando y qué significan.

In [54]:
poliza = "A45F92" 
beneficiarios = 2
prima = 783.45
poliza2 = poliza
beneficiario1, beneficiario2 = "Lucía Buenfil", "Alexis Rodríguez" #declaración múltiple de variables en una sola línea

## Input

Los usuarios también pueden ingresar datos de entrada (input) mediante el teclado para que nuestro programa realice el trabajo para el cual fue codificado. Para que el código pueda recibir un input, utilizaremos la función con el mismo nombre, input().

In [45]:
datos_de_entrada = input("Escribe tu nombre")
print("Hola, " + datos_de_entrada + ". Gracias por tu ayuda.")

Escribe tu nombreAlejandro
Hola, Alejandro. Gracias por tu ayuda.

## Output

Hay varias maneras de de imprimir valores en Python. Por ejemplo, las declaraciones de expresión:

In [46]:
55 + 10

65

Como se puede ver, se imprime el resultado de dicha operación.

Otra opción para imprimir valores en Python es la función print( ) :

In [55]:
print("La póliza: " + poliza + " está vigente")

La póliza: A45F92 está vigente

Ahora, ¿qué pasa si queremos que se imprima "La póliza A45f92 está vigente y tiene 2 beneficiarios llamados Lucía Buenfil y Alexis Rodríguez" utilizando las variables del código en la línea 44?. Probablemente intentaríamos algo parecido:

In [56]:
print("La póliza: " + poliza + " está vigente y tiene " + beneficiarios + " beneficiarios llamados " + beneficiario1 + " y " + beneficiario2)

TypeError: can only concatenate str (not "int") to str

Pero como se puede ver, se nos arroja un error. ¿Por qué pasa esto? Porque no podemos concatenar (unir) datos de tipo entero (int) como el asignado a la variable beficiarios con cadenas de caracteres como "La póliza: " ni con variables con datos de tipo cadena de caracteres (str) como poliza, beneficiario1 y beneficiario2.

Esto se soluciona con la función str() que convierte al argumento dentro de ( ) a un dato de tipo cadena de caracteres.
En nuestro ejemplo, convertiremos beneficiarios que es de tipo int a tipo str para poder concatenar correctamente todos los datos:

In [57]:
print("La póliza: " + poliza + " está vigente y tiene " + str(beneficiarios) + " beneficiarios llamados " + beneficiario1 + " y " + beneficiario2)

La póliza: A45F92 está vigente y tiene 2 beneficiarios llamados Lucía Buenfil y Alexis Rodríguez

## Tipos de datos

El ejemplo anterior nos hace notar la importancia de entender y poder diferenciar los tipos de datos que estamos utilizando en nuestro programa y saber qué tipos de datos obtenemos después de ser empleados por las funciones de nuestro código.

Los tipos de datos más básicos de Pyton son los siguientes:

* *string* o *cadena de caracteres*
* Numéricos:
   * *Int* (enteros)
   * *float* (de punto flotante)
   * *complex* (complejos): consta de una parte real y de otra imaginaria. Por ejemplo: 1 + 3j. Como se puede ver, para agregar la parte imaginaria, se agrega j al segundo sumando.
* *bool* o booleanos

In [58]:
cadena = "Hola, mundo"  #string
entero = 45 #Entero
flotante = 2.2
complejo = 45 + 2.2j
booleano = True

Como se vio líneas arriba, si queremos saber de qué tipo es una variable o valor determinado, utilizamos la función *type()*.

In [60]:
print(type(cadena))
print(type(entero))
print(type(flotante))
print(type(complejo))
print(type(booleano))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

Es fácil darse cuenta de que podemos cambiar los tipos de las variables. Se puede hacer manualmente de la siguiente forma:

In [68]:
entero = 45
print(type(entero))
print(str(entero))
print(type(str(entero))) #volvimos un dato de tipo entero a uno de tipo string o cadena de caracteres.

<class 'int'>
45
<class 'str'>

Otros ejemplos:

In [70]:
print(int(flotante)) #convertir 2.2 (flotante) a 2 (entero con truncamiento de decimales)
print(float(booleano)) #convertir 1 y 0 (valores booleanos) a 1.0 y 0.0 (valores flotantes)

2
1.0

Es evidente que al tratar de convertir ciertos tipos a otros, produce un error:

In [71]:
print(float(cadena))

ValueError: could not convert string to float: 'Hola, mundo'

Esto se debe a que una cadena de caracteres no es un dato numérico y no puede ser convertido a otro tipo de estos datos (int, float, complex).




Por último, hablaremos de un tipo de dato que no se mencionó al comienzo de esta sección: el tipo **NoneType**. El único valor posible que puede tomar este tipo de datos es **None**. 
Frecuentemente None se utiliza cuando a una variable aún no se le quiere asignar un valor en particular. Es decir, creamos una variable *vacía*, aunque este término no es del todo correcto:

In [74]:
variable_vacia = None
print(variable_vacia)
print(type(variable_vacia))

None
<class 'NoneType'>

## Operadores

Ahora que ya sabemos qué son las variables y de qué tipo pueden ser, podemos modificarlas y transformarlas gracias a los operadores.
En Python hay varios tipos de operadores, pero nos centraremos en los básicos.

### Operadores Aritméticos

- "+" suma los operandos.
* "-" resta los operandos.
* "*" multiplica los operandos.
* "/" divide los operandos.
- "**" realiza la potencia entre los operandos.
* "%"  calcula el módulo entre dos operandos.
* "//" divide los operandos, pero con un resultado entero redondeado hacia abajo (división entera).

Ejemplos:

In [77]:
suma = 15 + 20
print(suma)

resta = 15 - 20
print(resta)

mult = 15*20
print(mult)

div = 15/20
print(div)

pot = 15**20
print(pot)

mod = 15%20
print(mod)

div_int = 15//20
print(div_int)

35
-5
300
0.75
332525673007965087890625
15
0

Haciéndolo con variables:

In [78]:
a= 15
b= 20

suma = a + b
print(suma)

resta = a - b
print(resta)

mult = a*b
print(mult)

div = a/b
print(div)

pot = a**b
print(pot)

mod = a%b
print(mod)

div_int = a//b
print(div_int)

35
-5
300
0.75
332525673007965087890625
15
0

### Operadores comparativos

El resultado de utilizar estos operadores será **True** o **False**.

* "==" Igual: Arroja *True* si los dos valores comparados son iguales. Obtenemos *False* en caso contrario.
* "!=" Distinto: Arroja *True* si los dos valores comparados son distintos. Obtenemos *False* en caso contrario.
- ">"  Mayor que: Arroja *True* si el valor de la izquierda es estrictamente mayor que el de la derecha. *False* en caso contrario.
* "<"  Menor que: Arroja *True* si el valor de la izquierda es estrictamente menor que el de la derecha. *False* en caso contrario.
+ ">=" Mayor o igual que: Arroja *True* si el valor de la izquierda es  mayor o igual que el de la derecha. *False* en caso contrario.
+ "<=" Menor o igual que: Arroja *True* si el valor de la izquierda es  menor o igual que el de la derecha. *False* en caso contrario.

Ejemplos:

In [89]:
a = 37
b = 37.0
c=41
d = "Hola"
e = "hola"

print(a == b)
print(a != b)
print(a != c)
print(e == d)
print(a > c)
print(c > a)
print(a < c)
print(c < a)
print(a >= c)
print(a <= c)

True
False
True
False
False
True
True
False
False
True

### Operadores Lógicos

* *and* arroja **True** si los dos valores que se comparan son verdaderos. **False** en caso contrario.
* *or*  arroja **True** si alguno de los dos valores que se comparan son verdaderos. **False** en caso contrario.
* *not* arroja **True** si el valor que se está comparando es falso. **Verdadero** en caso contrario.

Ejemplos:

In [90]:
a1 = 38
a2 = 12

a1 < 0 and a2 == 12

False

In [91]:
a1 < 0 or a2 == 12

True

In [92]:
not a1 < 0

True

### Operadores de asignación

Como hemos visto, el operador de asignación más básico es "=", el cual asigna un valor a una variable; pero hay muchos más operadores de asignación. Los más utilizados son:

 
* "+="	
* "-="	
* "*="	
* "/="	
* "%="	
* "//="	
* "**="

Ejemplos:

In [108]:
x=1
x+=1 #x = x+1
x

2

In [109]:
x=1
x-=1 #x = x-1
x

0

In [110]:
x=1
x*=2 #x = x*2
x

2

In [111]:
x=1
x/=2 #x = x/2
x

0.5

In [112]:
x=1
x%=1 #x = x%1
x

0

In [113]:
x=1
x//=5 #x = x//5
x

0

In [114]:
x=2
x**=3 #x = x**3
x

8